@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';

.App {
  display: flex;
  align-items: center;
  padding: 20px;
}

.editor {
  width: 600px;
  height: 400px;
}

.CodeMirror {
  height: 100%;
}

.run {
  width: 100px;
  height: 40px;
  margin: 20px;
}

.runner {
  flex: 1;
  height: 400px;
  padding: 20px;
  border: 1px solid darkgoldenrod;
}
